parameters:
    # Rule Levels(https://phpstan.org/user-guide/rule-levels)
    level: 9
    paths:
        - config/
        - src/
#    excludePaths:
#        analyse:
#            - bin/
#            - tests/
#        analyseAndScan:
#            - public/
    fileExtensions:
        - php
        - yaml
    tmpDir: ../../vars/phpstan
    phpVersion: 80205 # PHP 8.2.5
